In [5]:
import warnings
from importlib import reload

import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import seaborn as sns
import acquire as a
import prepare as p
import explore as e
import model as m

In [2]:
warnings.simplefilter("ignore")
%matplotlib inline
%config InlineBackend.figure_format = 'retina'

In [23]:
readme_df = a.acquire_readmes()
readme_df = p.prep_df_for_nlp(readme_df,'readme_contents')
train, validate, test = p.split_data(readme_df,'language')

In [21]:
from sklearn.tree import DecisionTreeClassifier
reload(m)

data = sns.load_dataset('iris')
tr,va,te = p.split_data(data,target='species')
trx = tr[['sepal_length','sepal_width']]
tray = tr.species
model = DecisionTreeClassifier(max_depth=4)
m.model_data(model,trx,tray)

        species        yhat
74   versicolor   virginica
115   virginica   virginica
1        setosa      setosa
4        setosa      setosa
117   virginica   virginica
..          ...         ...
94   versicolor  versicolor
47       setosa      setosa
95   versicolor  versicolor
58   versicolor   virginica
139   virginica   virginica

[97 rows x 2 columns]